<h1>Erica's List</h1>

<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default"><i class="fa fa-tree"></i></button>
            </span>
            <input type="text" class="form-control" placeholder="Search for ..." ng-model="searchText">
        </div>
    </div>
</div>


<!-- table class=" table table hover">
  <tr>
    <th>Item</th>
    <th>Cost</th>
  </tr>

</div>

<div>
  <tr ng-repeat="item in items | filter: searchText"">
    <div>
      <td>{{item.gift}}</td>
      <td>{{item.cost}}</td>
    </div>
</div>
 -->

<!-- *******CURRENT LIST LOGIC********* -->
<h3>Current Lists</h3>
<div ng-repeat="item in listgifts| filter: {isCompleted:false} | filter: searchText">

      <div class="panel-body">
         <div class="col-xs-3"><input type="checkbox" ng-model="item.isCompleted" ng-change="inputChange(item)"></div>
         <div class="col-xs-3">{{item.usergift}}</div>
         <div class="col-xs-3">{{item.usercost}}</div>
         <div class="col-xs-2"><button ng-click="deleteItem(item.id)" class="fa fa-minus-circle"></button></div>
   </div>
</div>
<!-- *******CURRENT LIST LOGIC********* -->

<!-- *******PURCHASED LIST LOGIC********* -->
<h3>Purchased</h3>
<div ng-repeat="item in listgifts| filter: {isCompleted:true} | filter: searchText">

      <div class="panel-body">
         <div class="col-xs-5"><input type="checkbox" ng-model="item.isCompleted" ng-change="inputChange(item)"></div>
         <div class="col-xs-5">{{item.usergift}}</div>
         <div class="col-xs-5">{{item.usercost}}</div>
         <div class="col-xs-2"><button ng-click="deleteItem(item.id)" class="fa fa-minus-circle"></button></div>
   </div>
</div>