<!-- *******SEARCHES FOR CURRENT LISTS OR COMPLETED LISTS ********* -->
<!-- <h1>My Gift Lists</h1>
<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default"><i class="fa fa-tree"></i></button>
            </span>
            <input type="text" class="form-control" placeholder="Search for ..." ng-model="searchText">
        </div>
    </div>
</div> -->
<!-- *******SEARCHES FOR CURRENT LISTS OR COMPLETED LISTS ********* -->


<!-- *******CURRENT LIST LOGIC********* -->
<h3>Current Lists</h3>
<div ng-repeat="friend in friends | filter:{isCompleted:false} | filter: searchText">

      <div class="panel-body">
         <div class="col-xs-1"><input type="checkbox" ng-model="friend.isCompleted" ng-change="inputChange(friend)"></div>
         <div class="col-xs-3"><a href="#/wishlist/{{friend.id}}"><button>{{friend.name}}</button></a></div>
         <div class="col-xs-3">$25</div>
         <div class="col-xs-2"><button ng-click="deleteFriend(friend.id)" class="fa fa-minus-circle"></button></div>
   </div>
</div>
<!-- *******CURRENT LIST LOGIC********* -->


<!-- *******PURCHASED LIST LOGIC********* -->
<!-- <h3>Purchased</h3>
<div ng-repeat="friend in friends | filter:{isCompleted:true}">

      <div class="panel-body">
         <div class="col-xs-1"><input type="checkbox" ng-model="friend.isCompleted" ng-change="inputChange(friend)"></div>
         <div class="col-xs-3"><a href="#/wishlist/{{friend.id}}"><button>{{friend.name}}</button></a></div>
         <div class="col-xs-3">$25</div>
         <div class="col-xs-2"><button ng-click="deleteFriend(friend.id)" class="fa fa-minus-circle"></button></div>
   </div>
</div> -->
<!-- *******PURCHASED LIST LOGIC********* -->

<!-- *******BUDGET LOGIC- TOTAL OF AMOUNT NEEDED FOR GIFTS********* -->

<h6>BUDGET GOES HERE::</h6>
    <td  ng-repeat="friend in friends">
        {{friends.giftcost}}
    </td>




<!-- *******BUDGET LOGIC- TOTAL OF AMOUNT NEEDED FOR GIFTS********* -->









