<!-- *******CURRENT LIST LOGIC********* -->
<h3><b>Current Lists<b></h3>
<div class="container">
  <table class="centered">
     <thead>
         <tr style="border:0;">
          <th data-field="name">List Name</th>
           <th data-field="price">Total List Amount</th>
         </tr>
     </thead>

  <hr class="colorgraph">
     <tbody class="pushUp">
         <tr ng-repeat="friend in friends | filter:{isCompleted:false}| filter: searchText" class="highlight">
           <input type="checkbox" ng-model="giftdescription.isCompleted" ng-change="inputChange(gift)">
           <td><a class="waves-effect waves-light btn" href="#/wishlist/{{friend.id}}"><i class="fa fa-tree"></i> {{friend.name}}</a></td>
           <td><b>${{friend.sumOfGifts}}</b></td>
           <td><button ng-click="deleteFriend(friend.id)" class="fa fa-minus-circle fa-fw"></button> </td>
         </tr>
     </tbody>
  </table>
<hr class="colorgraph">
  <table class="centered">
    <div ng-model="total">
      <td><b>You have 12 Months to Budget :</b> <br> <br><div id="budget">${{total}}</div> </td>
    </div>
</div>
<!-- *******CURRENT LIST LOGIC********* -->







<!-- !!!****NOT USING IN CURRENT DEMO OR MODEL BELOW****!!! -->

<!-- *******SEARCHES FOR CURRENT LISTS OR COMPLETED LISTS ********* -->
<!-- <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default"><i class="fa fa-tree"></i></button>
            </span>
            <input type="text" class="form-control" placeholder="Search for ..." ng-model="searchText">
        </div>
    </div>
</div> -->
<!-- *******SEARCHES FOR CURRENT LISTS OR COMPLETED LISTS ********* -->


<!-- *******PURCHASED LIST LOGIC********* -->
<!-- <h3>Purchased</h3>
<div ng-repeat="friend in friends | filter:{isCompleted:true}">

      <div class="panel-body">
         <div class="col-xs-1"><input type="checkbox" ng-model="friend.isCompleted" ng-change="inputChange(friend)"></div>
         <div class="col-xs-3"><a href="#/wishlist/{{friend.id}}"><button>{{friend.name}}</button></a></div>
         <div class="col-xs-3">$25</div>
         <div class="col-xs-2"><button ng-click="deleteFriend(friend.id)" class="fa fa-minus-circle"></button></div>
   </div>
</div> -->
<!-- *******PURCHASED LIST LOGIC********* -->







