  <div id="mainz">


    <div class="buttonMargin">
      <a class="waves-effect waves-light btn-large" ng-href="#/friend-list"><i class="fa fa-gift"></i>  My Lists</a>
    </div>

    <div class="buttonMargin">
      <a class="waves-effect waves-light btn-large" ng-href="#/friend-new"><i class="fa fa-plus"></i>  New List</a>
    </div>

  <div class="buttonMargin">
      <a class="waves-effect waves-light btn-large" ng-href="#"><i class="fa fa-thumbs-o-up"></i>  Christmas Clock</a>
  </div>

  </div>




