  <h3>Create New List</h3>

<div class="container">
  <div id="cardz" class="row">
        <div class="col s12 ">
          <div class="card  teal">
            <div class="card-content white-text">
              <span class="card-title">Enter Recipient's Name</span>
              <i class="fa fa-user-o fa-2x"></i><input style="font-size:1.5rem;" type="text" class=".input-field" placeholder="Enter Recipient's Name" ng-model="newFriend.name">
            </div>
            <div class="card-action">
            </div>
          </div>
        </div>
  </div>
</div>
 <button type="button" class="btn btn-primary btn-lg col-xs-2 " ng-click="addNewFriend()">New List</button>


