 <a href="#/gift-add"><button>Add Gift</button></a>

<!-- *******CURRENT LIST LOGIC********* -->
<h3>Wish List</h3>
<div ng-repeat="gift in gifts">
      <div class="panel-body">
         <div class="col-xs-3"><input type="checkbox" ng-model="giftdescription.isCompleted" ng-change="inputChange(gift)"></div>
         <div class="col-xs-3">{{gift.giftdescription}}</div>
         <div class="col-xs-2"><button ng-click="deleteFriend(gift.id)" class="fa fa-minus-circle"></button></div>
   </div>
</div>
<!-- *******CURRENT LIST LOGIC********* -->



<!-- *******PURCHASED LIST LOGIC********* -->
<!-- <h3>Purchased</h3>
<div ng-repeat="gift in gifts">

      <div class="panel-body">
         <div class="col-xs-5"><input type="checkbox" ng-model="gift.isCompleted" ng-change="inputChange(gift)"></div>
         <div class="col-xs-5">{{gift.giftdescription}}</div>
         <div class="col-xs-2"><button ng-click="deleteGift(giftdescription.id)" class="fa fa-minus-circle"></button></div>
   </div>
</div> -->