<h1>{{}} Wish List</h1>

<!-- table class=" table table hover">
  <tr>
    <th>Item</th>
    <th>Cost</th>
  </tr>

</div>

<div>
  <tr ng-repeat="item in items | filter: searchText"">
    <div>
      <td>{{item.gift}}</td>
      <td>{{item.cost}}</td>
    </div>
</div>
 -->
 <a href="#/gift-add"><button>Add Gift</button></a>

<!-- *******CURRENT LIST LOGIC********* -->

<div ng-repeat="friend in friends">
<h1>{{friend.name}} Wish List</h1>

      <div class="panel-body">
         <div class="col-xs-3"><input type="checkbox" ng-model="friend.isCompleted" ng-change="inputChange(friend)"></div>
         <div class="col-xs-3">{{friend.name}}</div>
         <div class="col-xs-2"><button ng-click="deleteItem(item.id)" class="fa fa-minus-circle"></button></div>
   </div>
</div>
<!-- *******CURRENT LIST LOGIC********* -->

<!-- *******PURCHASED LIST LOGIC********* -->
<h3>Purchased</h3>
<div ng-repeat="friend in friends">

      <div class="panel-body">
         <div class="col-xs-5"><input type="checkbox" ng-model="friend.isCompleted" ng-change="inputChange(friend)"></div>
         <div class="col-xs-5">{{friend.name}}</div>
         <div class="col-xs-2"><button ng-click="deleteItem(friend.id)" class="fa fa-minus-circle"></button></div>
   </div>
</div>